.material-header {
  display: flex;
  background: white;
  font-size: 1rem;
  .material-item {
    width: 100%;
    padding: 5px;
    border: 1px solid;
    text-decoration: none;
    color: black;
    &:hover {
      cursor: pointer;
      box-sizing: border-box;
      border-bottom: 5px solid #3f51b5;
      margin-bottom: -5px;
    }
    .material-item-value {
      display: flex;
      justify-content:space-between;
      margin-top: 3px;
    }
  }

}