.discription-table {
  max-width: 92%;
  margin-bottom: 2.2rem;

  .MuiTable-root {
    box-shadow: 1px 1px 3px;
  }
  thead {
    background: black;
    tr th {
      color: white;
      font-weight: bold;
    }
  }
  .MuiTableCell-root {
    padding: 5px;
  }
}