.discription-table-title {
  margin-top: 1.25rem;
  margin-bottom: .3rem;
  font-size: 1.125rem;
}

.discription-table {
  max-width: 92%;
  thead {
    background: black;
    tr th {
        color: white;
        font-weight: bold;
        padding: 10px;
      }
    }
  }
