.material-header {
  display: flex;
  padding: 0;
  margin-left: -24px;
  margin-top: -24px;
  background: white;
  width: calc(100% + 24px * 2);
  margin-bottom: 30px;
  .material-item {
    width: 100%;
    padding: 5px;
    border: 1px solid;
    &:hover {
      cursor: pointer;
      box-sizing: border-box;
      border-bottom: 5px solid #3f51b5;
    }
    .material-item-value {
      display: flex;
      justify-content:space-between;
      margin-top: 3px;
    }
  }
}